<div class="cards">
  <% @monuments.each do |monument| %>
    <%= link_to monument_path(monument), class: "text-decoration-none link-dark" do %>
      <div class="card-monument">
         <% monument.photos.each do |photo| %>
              <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill) %>
          <% end %>

        <div class="card-monument-infos">
          <div>
            <h2><%= monument.name %></h2>
            <p><%= monument.address %></p>
          </div>
          <h2 class="card-monument-pricing">$<%= monument.price %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
