<h1><%= @monument.name %></h1>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <% if @monument.picture != nil %>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= @monument.picture%>" class="d-block -30em" alt="...">
      </div>
  <% end %>
  <%# if @monument.picture.length = 2 %>
      <%# <div class="carousel-item"> %>
        <%# <img src="" class="d-block w-100" alt="..."> %>
      <%# </div> %>
  <%# end %>
  <%# if @monument.picture.length = 3 %>
      <%# <div class="carousel-item"> %>
        <%# <img src="" class="d-block w-100" alt="..."> %>
      <%# </div> %>
  <%# end %>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<ul>
  <li><%= @monument.address %></li>
  <li><%= @monument.user.username %></li>
  <li><%= @monument.description %></li>
  <li><%= @monument.price %> € / nuit</li>
</ul>
