<h1><%= @monument.name %></h1>
<ul>
  <li><%= @monument.address %></li>
  <li><%= @monument.user_id.username %></li>
  <li><%= @monument.description %></li>
  <li><%= @monument.price %> € / night</li>
</ul>
