<h1 class='text-center'><%= current_user.username.capitalize %>'s dashboard</h1>

<h3>Future bookings</h3>

<% if @future_bookings != []%>
  <% @future_bookings.each do |booking| %>
    <% if booking.start_date >= Date.today %>
      <%= link_to monument_path(booking.monument_id), class: "text-decoration-none link-dark mb-3" do %>
        <div class="card-product mb-3">
          <%= cl_image_tag(booking.monument.photos.first.key, width: 400, height: 300, crop: :fill) %>
          <div class="card-product-infos">
            <div>
              <h2><%= booking.monument.name %></h2>
              <p><%= booking.start_date %> au <%= booking.end_date %></p>
              <p><%= booking.total_price %> €</p>
            </div>
            <% if booking.status == 'Accepted' %>
              <span class="badge bg-success">Accepted</span>
            <% elsif booking.status == 'Pending' %>
              <span class="badge bg-warning">Pending</span>
            <% else %>
              <span class="badge bg-danger">Rejected</span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h5 class= "text-center">You don't have any reservation</h5>
  <p class= "text-center"> <%= link_to 'Click here to start your experience', monuments_path %> </p>
<% end %>

<% if @demands != [] %>
  <hr>
  <h3>My monument's requests</h3>
  <div class="row">
    <% @demands.each do |demand| %>
      <div class="link col-6">
        <%#= link_to monument_path(monument), class: "text-decoration-none link-dark mx-auto mb-3" do %>
          <div class="card-product">
            <%#= cl_image_tag(demands.monument.photos.first.key, width: 400, height: 300, crop: :fill) %>
            <div class="card-product-infos">
              <h2><%= demand.monument.name %></h2>
              <p><%= demand.start_date %> au <%= demand.end_date %></p>
              <p><%= demand.user.username %></p>
            </div>
          </div>
        <%# end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @passed_bookings != []%>
  <hr>
  <h3>Passed bookings</h3>
  <div class="row">
    <% @passed_bookings.each do |booking| %>
        <% if booking.end_date < Date.today %>
        <div class="link col-6">
          <%= link_to monument_path(booking.monument_id), class: "text-decoration-none link-dark mx-auto mb-3" do %>
          <div class="card-product" >
            <%= cl_image_tag(booking.monument.photos.first.key, width: 400, height: 300, crop: :fill) %>
            <div class="card-product-infos">
              <h2><%= booking.monument.name %></h2>
              <p><%= booking.start_date %> au <%= booking.end_date %></p>
              <p><%= booking.total_price %> $</p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<%end%>

  <% if @monuments != [] %>
    <hr>
    <div class="d-flex justify-content-between mb-3">
      <h3>My monuments</h3>
      <%= link_to 'add a new monument', new_monument_path, class:"btn btn-outline-success" %>
    </div>
    <div class="row">
      <% @monuments.each do |monument| %>
        <div class="link col-6">
          <%= link_to monument_path(monument), class: "text-decoration-none link-dark mx-auto mb-3" do %>
            <div class="card-product">
              <%= cl_image_tag(monument.photos.first.key, width: 400, height: 300, crop: :fill) %>
              <div class="card-product-infos">
                <h2><%= monument.name %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <hr>
    <h3>My monuments</h3>
    <h5 class= "text-center">You don't have any monument</h5>
    <p class= "text-center"> <%= link_to 'Click here to add a new monument', new_monument_path %> </p>
  <% end %>
